# Misc
*.class
*.log
*.pyc
*.swp
.DS_Store
.history
.svn/
.atom/
.build/
.buildlog/
.swiftpm/
migrate_working_dir/

# IDE
.idea/
*.iml
*.ipr
*.iws

# VS Code
.vscode/

# Dart / Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
.pub-cache/
build/
coverage/

# Docs
**/doc/api/

# Android
/android/.gradle/
/android/.kotlin/
/android/local.properties
/android/app/debug
/android/app/profile
/android/app/release

# iOS
/ios/Flutter/.last_build_id
/ios/Flutter/ephemeral/
/ios/Flutter/Generated.xcconfig
/ios/Flutter/flutter_export_environment.sh
/ios/Podfile.lock

# Symbols / obfuscation
app.*.symbols
app.*.map.json

# Secrets / env
.env
.env.*
*.jks
*.keystore
key.properties
google-services.json
GoogleService-Info.plist